
  <ion-grid *ngIf="false">
    <ion-row>
      <ion-col sizeLg="3" size="6">
        <ion-card>
          <ion-img src="../../assets/woman1.jpg" ></ion-img>
        </ion-card>
      </ion-col >
      <ion-col sizeLg="3" size="6" margin-top>
        <ion-grid><ion-row>
          <ion-text padding-top>SOUAD FARAH</ion-text>
        </ion-row>
          <ion-row>
            <ion-text padding-top><ion-icon name="pin"></ion-icon> Casablanca</ion-text>
          </ion-row>
          <ion-row>
            <ion-text padding-top><ion-icon name="call"></ion-icon> 0667048714</ion-text>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-header *ngIf="false">
    <ion-toolbar color="warning">
      <ion-title padding-horizontal><ion-icon name="filing"></ion-icon> Historique</ion-title>
    </ion-toolbar>
  </ion-header>

  <bdi dir="rtl">
  <ion-grid *ngIf="true">
    <ion-row>
      <ion-col sizeLg="3" size="6">
          <ion-card>
          <ion-img src="../../assets/woman1.jpg" ></ion-img>
        </ion-card>
      </ion-col >
      <ion-col sizeLg="3" size="6" margin-top>

        <ion-grid><ion-row>

          <ion-text padding-top>SOUAD FARAH</ion-text>
        </ion-row>
          <ion-row>
            <ion-text padding-top><ion-icon name="pin"></ion-icon> Casablanca</ion-text>
          </ion-row>
          <ion-row>
            <ion-text padding-top><ion-icon name="call"></ion-icon> 0667048714</ion-text>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-header *ngIf="true">
    <ion-toolbar color="warning">
      <ion-title padding-horizontal><ion-icon name="filing"></ion-icon> Historique</ion-title>
    </ion-toolbar>
  </ion-header>
  </bdi>
