<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="box"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <ion-icon name="chatboxes" padding-end></ion-icon>Boite de Messages</ion-title>
  </ion-toolbar>

</ion-header>
<ion-header>
  <ion-toolbar >

    <ion-avatar slot="start" margin-start>
      <img src="../../assets/ourteam.png">
    </ion-avatar>
    <ion-title>Equipe Nt3awno</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content >

  <ion-list padding>
    <ion-item >
      <ion-avatar slot="start">
        <img src="../../assets/ourteam.png">
      </ion-avatar>
      <ion-text style="color: #989aa2">
        <p>Bonjour Mme Khadija, Bienvenue à bord, On est là pour vous aidez n'hésitez pas à nous posez vos questions </p>
      </ion-text>
    </ion-item>
    <ion-item  >

<ion-text slot="end" style="color: rosybrown">
       C'est génial ! Merci
</ion-text>
      <ion-avatar slot="end">
        <img src="../../assets/woman1.jpg">
      </ion-avatar>
    </ion-item>
    <ion-item >
      <ion-avatar slot="start">
        <img src="../../assets/ourteam.png">
      </ion-avatar>
<ion-text slot="start" style="color: rosybrown">
       N'hésitez pas à revenir vers nous à tout moment.
</ion-text>
    </ion-item>

  </ion-list>


</ion-content>
